<div class="panel panel-default" ng-controller="TaskController">
    <div class="panel-heading clearfix">
    <h2 class="panel-title pull-left" ng-hide="editTime"> {{getPrettyDateTime(task.min_time)}}  -  {{getPrettyDateTime(task.max_time)}} <button ng-click="editTimes()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span></button></h2>
    <h2 class="panel-title pull-left" ng-show="editTime"> 
        <div class="row form-inline">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class='input-group date' id='mindatetimepicker{{task.id}}'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <p style="text-align:center">--</p>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class='input-group date' id='maxdatetimepicker{{task.id}}'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
 
            <button ng-click="editTime=false; taskService.save(task)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Save</button>
        </div>
    </h2>
         <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="{{'.volunteermodal' + task.id}}">Assign</button>
            <button type="button" class="btn btn-sm btn-default" ng-hide="edit" ng-click="edit = !edit">Edit</button>
            <button type="button" class="btn btn-sm btn-default" ng-show="edit" ng-click="edit = !edit; taskService.save(task)">Save</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <h4 ng-hide="edit">{{task.description}}</h4>
                <textarea ng-show="edit" class="form-control" ng-model="task.description">{{task.description}}</textarea>
            </div>
            <div class="col-md-4">Volunteers: 
                <span ng-repeat="volunteer in task.volunteers">{{volunteer.first_name}} {{volunteer.last_name}}</span>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-4">Priority: 
                <button class="btn btn-xs btn-default" ng-class="{'btn-danger': task.priority == 'UR'}" ng-click="task.priority='UR'; taskService.save(task)"> Urgent</button>
                <button class="btn btn-xs btn-default" ng-class="{'btn-warning': task.priority == 'ME'}" ng-click="task.priority='ME'; taskService.save(task)">Medium</button>
                <button class="btn btn-xs btn-default" ng-class="{'btn-info': task.priority == 'NU'}" ng-click="task.priority='NU'; taskService.save(task)">Nonurgent</button>
                <button class="btn btn-xs" ng-class="{'btn-default': task.priority != 'NI'}" ng-click="task.priority='NI'; taskService.save(task)">If possible</button></div>

            <div class="col-md-4"><button class="btn btn-xs btn-default" data-toggle="modal" data-target="{{'.skillmodal' + task.id}}"><span class="glyphicon glyphicon-edit"></span> Change </button> Skills: 
                <span ng-repeat="skill in task.skills" class="label label-default" ng-style="{'background-color': skill.color}">{{skill.name}}</span>
            </div>
            <div class="col-md-4">Status: 
                <button class="btn btn-xs btn-default" ng-class="{'btn-danger': task.status == 'TD'}" ng-click="task.status='TD'; taskService.save(task)">Todo</button>
                <button class="btn btn-xs btn-default" ng-class="{'btn-warning': task.status == 'IP'}" ng-click="task.status='IP'; taskService.save(task)">In Progress</button>
                <button class="btn btn-xs btn-default" ng-class="{'btn-success': task.status == 'CP'}" ng-click="task.status='CP'; taskService.save(task)">Complete</button>
                <button class="btn btn-xs" ng-class="{'btn-default': task.status != 'VO'}" ng-click="task.status='VO'; taskService.save(task)">Void</button></div>
        </div>
    </div>

    <div class="modal fade {{'skillmodal' + task.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type='button' class='close' data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Select the skills needed for the task <small>"{{task.description}}"</small></h3>
                </div>
                <div class="list-group">
                    <a href="" ng-repeat="skill in skills" class="list-group-item" width="100%" ng-class="{'active': skill.selected}" ng-click="skill.selected = !skill.selected">{{skill.name}}</a>
                </div>

                <button ng-click="taskService.saveSkills(task, skills)" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>

    <div class="modal fade {{'volunteermodal' + task.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type='button' class='close' data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Select the volunteers you want to assign for the task <small>"{{task.description}}"</small></h3>
                </div>
                <div class="list-group">
                    <a href="" ng-repeat="volunteer in volunteers" class="list-group-item" width="100%" ng-class="{'active': volunteer.selected}" ng-click="volunteer.selected = !volunteer.selected">{{volunteer.first_name}} {{volunteer.last_name}}</a>
                </div>

                <button ng-click="taskService.saveVolunteers(task, volunteers)" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>


</div>

