{% extends "base.html" %}
    {% load i18n %}
    {% block content %}
    <div class="container content" ng-app="securityApp">
        <div ui-view>Loading...</div>
    </div>
    {% endblock content %}
    {% block extra_javascript %}
    {% load staticfiles %}
    <script src="{% static "javascript/app.js" %}"></script>
    <script src="{% static "javascript/controllers.js" %}"></script>
    <script src="{% static "javascript/services.js" %}"></script>
   <script type="text/javascript" src="{%static "bower_components/moment/min/moment.min.js" %}"></script>
  <script type="text/javascript" src="{%static "bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" /> 
    {% endblock extra_javascript %}
